<mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile>
        <div class="left">
            <img src="https://vttp-kq.s3.ap-southeast-1.amazonaws.com/project/logo.png" width="75%">
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="purple">
        <div class="right">
            <h3 class="slogan">Bridging restaurants and consumers.</h3>
            <button mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>