<div class="main">
    <mat-grid-list cols="2" rowHeight="100%" *ngIf="!isLogin; else loading">
        <mat-grid-tile>
            <div class="left">
                <img src="https://vttp-kq.s3.ap-southeast-1.amazonaws.com/project/logo.png" width="75%">
            </div>
        </mat-grid-tile>

        <mat-grid-tile class="purple" *ngIf="!isLogin; else loading">
            <div class="right" *ngIf="!isSignup; else register">
                <form [formGroup]="form" (submit)="login()" class="form">
                    <p>
                        <mat-form-field>
                            <mat-label>Email / Username</mat-label>
                            <input matInput type="email" formControlName="email">
                            @if (form.controls['email'].hasError('required')) {
                            <mat-error>Email is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="pw" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            @if (form.controls['pw'].hasError('required')) {
                            <mat-error>Password is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                    </p>
                    <div>
                        <button mat-raised-button color="accent" type="button" (click)="newSignup()">
                            Sign Up</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
                        <button mat-raised-button type="button" (click)="forgotPw()">Forgot Password</button>
                    </div>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #register>
    <div class="right">
        <form [formGroup]="signupForm" (submit)="signup()" class="form">
            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example@example.com" type="email" formControlName="email">
                    @if (signupForm.controls['email'].hasError('email') &&
                    !signupForm.controls['email'].hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (signupForm.controls['email'].hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Establishment Name</mat-label>
                    <input matInput placeholder="Establishment name" type="text" formControlName="estName">
                    @if (signupForm.controls['estName'].hasError('minlength') ||
                    signupForm.controls['estName'].hasError('maxlength')) {
                    <mat-error>Establishment name must be between <strong>3 - 20</strong> characters.</mat-error>
                    }
                    @if (signupForm.controls['estName'].hasError('required')) {
                    <mat-error>Establishment name is <strong>required</strong>.</mat-error>
                    }
                </mat-form-field>
            </p>
            <div>
                <button mat-raised-button color="accent" type="button" (click)="isSignup = false">Back</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #loading>
    <div class="center">
        <div>
            <mat-spinner></mat-spinner>
        </div>
        <div class="main-container">
            <h6>Signing you in</h6>
        </div>
    </div>
</ng-template>

<ng-template #email>
    <h2 mat-dialog-title>Forgot Password</h2>
    <mat-dialog-content>
        <form [formGroup]="emailForm">
            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Account email" type="email" formControlName="email">
                    @if (emailForm.controls['email'].hasError('email') &&
                    !emailForm.controls['email'].hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (emailForm.controls['email'].hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
            </p>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="warn" mat-dialog-close>Back</button>
        <button mat-raised-button color="accent" (click)="resetPw()" [disabled]="emailForm.invalid">Reset
            Password</button>
    </mat-dialog-actions>
</ng-template>