mat-form-field {
    width: 100%;
}

.purple {
    background-color: #c2c2ff;
}

.left {
    width: 95%;
    text-align: right;
    margin-bottom: 10%;
}

.right {
    width: 95%;
    text-align: left;
}

.form {
    width: 70%;
}

button {
    margin-right: 10px;
    margin-top: 10px;
}