mat-card.orders {
    width: 350px;
}

.orders {
    white-space: nowrap;
    overflow-x: auto;
    max-height: 90%;
    transform: rotateX(180deg);

}

.orders::-webkit-scrollbar {
    height: 3px;
    background-color: #fff8f0;
    position: absolute;
    top: 0;
}

.orders::-webkit-scrollbar-thumb {
    background-color: #5555ff;
}

::-webkit-scrollbar-track {
    background: #fff8f0;
    border-radius: 3px;
}

.card-container {
    display: inline-block;
    padding: 10px;
    vertical-align: bottom;
}

.header {
    text-align: center;
    height: 100px;
    align-content: center;
    display: flex;
}

.divider {
    padding: 5px;
}

.bottom {
    padding-top: 100px;
}

.print {
    margin: auto;
    text-align: center;
}

.completed {
    color: lightgray;
}

.comment {
    padding-top: 10px;
}

.comments {
    padding: 10px;
}

.inner {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}