<div *ngIf="menu$ | async as menu; else loading">
    <mat-tab-group *ngIf="menu.length> 0; else noMenu" dynamicHeight>
        <mat-tab label="ALL">
            <div class="search">
                <mat-form-field>
                    <mat-label><mat-icon>search</mat-icon></mat-label>
                    <input matInput #query placeholder="Search">
                    @if (query.value) {
                    <button matSuffix mat-icon-button (click)="query.value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                </mat-form-field>
            </div>
            <div class="menu" *ngFor="let m of search(menu, query.value)">
                <mat-card class="menu">
                    <mat-card-header>
                        <mat-card-title>{{m.name}}</mat-card-title>
                        <mat-card-subtitle>{{m.price | currency}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="m.image" width="300" height="300">
                    <mat-card-content [matTooltip]="m.description" [matTooltipDisabled]="m.description.length <= 30">
                        <p>{{m.description | slice: 0 : 30}}<span *ngIf="m.description.length > 30">...</span></p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-icon-button (click)="openAddDialog(m)"><mat-icon
                                color="accent">edit</mat-icon></button>
                        <button mat-icon-button (click)="delete(m.id, m.name)"><mat-icon
                                color="warn">delete</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab *ngFor="let c of categories" [label]="c">
            <div class="menu" *ngFor="let m of filter(menu, c)">
                <mat-card class="menu">
                    <mat-card-header>
                        <mat-card-title>{{m.name}}</mat-card-title>
                        <mat-card-subtitle>{{m.price | currency}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="m.image" width="300" height="300">
                    <mat-card-content>
                        <p>{{m.description}}</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-icon-button (click)="openAddDialog(m)"><mat-icon
                                color="accent">edit</mat-icon></button>
                        <button mat-icon-button (click)="delete(m.id, m.name)"><mat-icon
                                color="warn">delete</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<button mat-fab color="primary" class="add-button" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
</button>

<ng-template #noMenu>
    <div class="center">
        You have no items added to your menu.
    </div>
</ng-template>

<ng-template #loading>
    <div class="center">
        <div>
            <mat-spinner></mat-spinner>
        </div>
        <div class="main-container">
            <h6>Loading...</h6>
        </div>
    </div>
</ng-template>