.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

mat-form-field {
    width: 100%;
}

tr, td {
    height: 95px;
    width: 40%;
}

button {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}