<div class="main-container">
    <mat-card>
        <mat-card-content class="header">
            <div class="inner">
                <button mat-raised-button color="accent" (click)="generateLink()"><mat-icon>add_business</mat-icon>
                    Generate order link</button>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="inner">
                <button mat-raised-button [matBadge]="pending.length" [matBadgeHidden]="pending.length == 0"
                    matBadgeColor="accent" (click)="viewPendingOrders()"
                    [disabled]="pending.length == 0"><mat-icon>payments</mat-icon>
                    Pending payment</button>
            </div>
            <div></div>
        </mat-card-content>
    </mat-card>
</div>

<mat-divider class="divider"></mat-divider>

<div *ngIf="orders$ | async as orders; else loading">
    <div class="orders" *ngIf="orders.length > 0; else noOrders">
        <div class="card-container" *ngFor="let o of filterOrders(orders)">
            <mat-card class="orders">
                <mat-card-header>
                    <mat-card-title>{{o.date | date: 'h:mm a, dd MMM yy': 'Asia/Singapore'}}</mat-card-title>
                    <mat-card-subtitle>OrderID: #{{o.id | uppercase}}</mat-card-subtitle>
                    <mat-card-subtitle>Table {{o.table}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <table mat-table [dataSource]="o.orders">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Item</th>
                            <td mat-cell *matCellDef="let item" [class]="item.completed ? 'completed' : ''">
                                {{item.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>#</th>
                            <td mat-cell *matCellDef="let item" [class]="item.completed ? 'completed' : ''">
                                {{item.quantity}}</td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let item; let i = index">
                                <button mat-icon-button [hidden]="item.completed"
                                    [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item
                                        (click)="o.orders.length > 1 ? deleteItem(o, i) : deleteOrder(o.id)"><mat-icon>close</mat-icon>Remove</button>
                                    <button mat-menu-item (click)="editItem(o.id, item)"
                                        [hidden]="item.quantity == 1"><mat-icon>edit</mat-icon>Edit quantity</button>
                                    <button mat-menu-item
                                        (click)="completeItem(o, item)"><mat-icon>check</mat-icon>Complete</button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
                        <tr mat-row *matRowDef="let row; columns: tableCols"></tr>
                    </table>

                    <mat-card-subtitle *ngIf="!!o.comments">
                        <mat-divider></mat-divider>
                        <div class="comment">
                            Comments:
                            <p class="comments">{{o.comments}}</p>
                        </div>
                    </mat-card-subtitle>
                </mat-card-content>

                <mat-card-footer>
                    <mat-progress-bar mode="determinate" [value]="o.progress"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #noOrders>
    <div class="center">
        <h6>There are no pending orders for the kitchen.</h6>
    </div>
</ng-template>

<ng-template #loading>
    <div class="center">
        <div>
            <mat-spinner></mat-spinner>
        </div>
        <div class="main-container">
            <h6>Loading...</h6>
        </div>
    </div>
</ng-template>

<ng-template #link>
    <h2 mat-dialog-title><a [href]="orderUrl">Order Link</a></h2>
    <mat-dialog-content>
        <div class="print" #print>
            <p>Scan QR code below to order:</p>
            <img [src]="qrCode">
            <p class="bottom">Generated by Prixy on {{timestamp | date: 'd MMM y, h:mm:ss a': 'Asia/Singapore'}}</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close><mat-icon>close</mat-icon>Close</button>
        <button mat-raised-button color="primary" (click)="printLink(qrReceipt)"><mat-icon>print</mat-icon>Print</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #edit>
    <h2 mat-dialog-title>Enter new quantity</h2>
    <mat-dialog-content>
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <input matInput type="number" formControlName="quantity">
                @if (form.controls['quantity'].hasError('required') || form.controls['quantity'].hasError('min')) {
                <mat-error>Quantity entered must be at least 1</mat-error>
                }
                @if (form.controls['quantity'].hasError('max')) {
                <mat-error>Use remove item instead</mat-error>
                }
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="warn" [mat-dialog-close]="false"><mat-icon>close</mat-icon>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true"
            [disabled]="form.invalid"><mat-icon>done</mat-icon>Confirm</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #pendingOrders>
    <h2 mat-dialog-title>Orders pending payment</h2>
    <mat-dialog-content>
        <mat-action-list>
            <button mat-list-item *ngFor="let o of pending" (click)="bill(o)" mat-dialog-close>OrderID: #{{o.id |
                uppercase}}</button>
        </mat-action-list>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close><mat-icon>close</mat-icon>Close</button>
    </mat-dialog-actions>
</ng-template>