<div class="main-container">
    <h4 class="header">
        Your order history for the past
        <mat-form-field>
            <mat-select [(value)]="default" (valueChange)="getStats()">
                <mat-option *ngFor="let option of options" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
        </mat-form-field>
        :
    </h4>

    <mat-divider></mat-divider>

    <div *ngIf="!!stats; else loading">
        <div *ngIf="data; else noData" class="main-container">
            <h5>Showing data from {{stats.first}} to {{stats.last}}</h5>
            <button class="floating" mat-fab color="accent" matTooltip="Download records as CSV"
                (click)="download()"><mat-icon>analytics</mat-icon></button>

            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Total sales</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{stats.sales | currency}}</p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Top selling items (Amount sold)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="items">
                            <div class="inner" *ngIf="stats.top.length > 0">
                                {{stats.top[0].name}} ({{stats.top[0].quantity}})
                            </div>
                            <mat-divider [vertical]="true"></mat-divider>
                            <div class="inner" *ngIf="stats.top.length > 1">
                                {{stats.top[1].name}} ({{stats.top[1].quantity}})
                            </div>
                            <mat-divider [vertical]="true"></mat-divider>
                            <div class="inner" *ngIf="stats.top.length > 2">
                                {{stats.top[2].name}} ({{stats.top[2].quantity}})
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="main-container">
        <mat-card class="chart" [hidden]="!data">
            <mat-card-header>
                <mat-card-title>Order Frequency</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas id="canvas">
                    {{chart}}
                </canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #loading>
    <div class="center">
        <div>
            <mat-spinner></mat-spinner>
        </div>
        <div class="main-container">
            <h6>Loading...</h6>
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <div class="middle">
        <img src="https://vttp-kq.s3.ap-southeast-1.amazonaws.com/project/chart-error.png">
        <h6 class="main-container">Not enough data to work with :(</h6>
    </div>
</ng-template>