html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main {
    height: 100vh;
}

.client {
    background-color: #f0f0ff;
    min-height: 100vh;
}

.user {
    background-color: #fff8f0;
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.main-container {
    padding-top: 10px;
    padding-bottom: 10px;
}