.footer-text {
    text-align: right;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

mat-form-field {
    width: 100%;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}